.Container {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  grid-template-areas: 'sidebar main main main main';
  // overflow-y: hidden;
}

.Main {
  grid-area: main;
}
